.blog-link {
 	color: #333;
	&:hover,
	&:focus {
		color: #000;
		text-decoration: none;
	}
}

.twitter-link {
	color: @Twitter;
	&:hover,
	&:focus {
		color: @Twitter;
		text-decoration: none;
	}
}

.github-link {
	color: @Github;
	&:hover,
	&:focus {
		color: @Github;
		text-decoration: none;
	}
}

.linkedin-link {
	color: @Linkedin;
	&:hover,
	&:focus {
		color: @Linkedin;
		text-decoration: none;
	}
}

.googleplus-link {
	color: @Googleplus;
	&:hover,
	&:focus {
		color: @Googleplus;
		text-decoration: none;
	}
}

.facebook-link {
	color: @Facebook;
	&:hover,
	&:focus {
		color: @Facebook;
		text-decoration: none;
	}
}

.tumblr-link {
	color: @Tumblr;
	&:hover,
	&:focus {
		color: @Tumblr;
		text-decoration: none;
	}
}

.reddit-link {
	color: @Reddit;
	&:hover,
	&:focus {
		color: @Reddit;
		text-decoration: none;
	}
}

.mail-link {
	color: @gray-light;
	&:hover,
	&:focus {
		color: @gray-light;
		text-decoration: none;
	}
}