a {
	outline: none;
	&:focus,
	&:hover,
	&:active {
		outline: none;
	}
}

.table-header {
    color: @color-primary-1;
    background-color: @color-primary-2;
}

.table-hover {
    > tbody > tr:hover {
        > th {
            color: @color-primary-2;
            background-color: @color-primary-1;
        }
    }
}

// .table-hover {
//     > tbody > tr > th:hover {
//         color: @color-primary-3;
//         background-color: darken(@color-primary-1, 5%);
//     }
// }

.table {
    color: black;
}

.gridStyle {
    width: 400px; 
    height: 400px;
}

.ng-hide:not(.ng-hide-animate) {
	display: block!important;
	position: absolute;
	top: -9999px;
	left: -9999px;
 }

.ui-grid-menu-button {
	border: none;
	border-bottom: solid 1px #d4d4d4;
	border-left: solid 1px #d4d4d4;
}

.btn-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover{
    color: @color-primary-3;
    background-color: #fff;
    border-color: #fff;
}

.button-group {
    margin: 10px 0;
}

.export-float {
    display: table-cell;
    vertical-align: bottom;
}