// //Import Styles
// @import 'base.less';
// @import 'socialicons.less';
// @import 'patterns.less';

//Custom styles
body {
	// margin-top: 100px;
	// background: @debut_light;
	background-color: steelblue;
	color: white;
}

a {
	outline: none;
	&:focus,
	&:hover,
	&:active {
		outline: none;
	}
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px;
}

.ng-hide:not(.ng-hide-animate) {
	display: block!important;
	position: absolute;
	top: -9999px;
	left: -9999px;
 }

.ui-grid-menu-button {
	border: none;
	border-bottom: solid 1px #d4d4d4;
	border-left: solid 1px #d4d4d4;
}

.btn-inverse {
	border: solid 1px #fff;
}